body {
	font-family: 'Noto Serif', serif;
	padding: 0 15px 0 15px;
	background-color: #fafafa;
}
h1 a, h2 a{
        color: #555;
        font-family: 'Exo 2', sans-serif;
        font-weight: 200;
        text-decoration: none;
    }
.page-header {
        margin-top: 0;
        padding: 20px 20px 20px 40px;
        text-align: center;
    }

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        font-size: 36pt;
        text-decoration: none;
        color: #555;
    }

    .date {
        color: #999;
    }

    .save {
        float: right;
    }

    .post-form textarea, .post-form input {
        width: 100%;
    }

    .top-menu, .top-menu:hover, .top-menu:visited {
        color: #ffffff;
        float: right;
        font-size: 26pt;
        margin-right: 20px;
    }

    .post {
        margin-bottom: 70px;
    }
.description{
	font-style: italic;
	padding: 30px 0;
}
  